.wrapper {
  display: flex;
  justify-content: center;
  padding: 10vh 0;
  flex-direction: column;
}

.options {
  font-size: 1rem;
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.options select {
  font-size: 1rem;
  padding: 0.2em;
}

.options {
  margin-bottom: 2vh;
  display: flex;
  justify-content: center;
  gap: 2vh;
  z-index: 100;
  padding: 2rem 0;
}

.window {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.artboard {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.video {
}

.canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.footer {
  margin-top: 2vh;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5em 2em;
  z-index: 100;
  background-color: #fff;
  font-size: 0.8rem;
}
